html {
    background-color: #000000;
    color: #ebebec;
    overflow: hidden;
    overflow: -moz-scrollbars-none;
}
body {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
::-webkit-scrollbar { 
    display: none; 
}
header {
    flex-shrink: 0;
}
main{
    flex-grow: 1;
    min-height: 2em;
    display: flex;
}
footer{
    flex-shrink: 0;
}

nav {
    background-color: #14181B;
    color: #ebebec;   
    z-index: 9999;
}

.side-nav {
    background-color: #14181B;
    color: #ebebec;   
    line-height: 20px;
    overflow: scroll;
    padding: 5px;
}
.side-nav input {
    cursor: pointer;
    text-align: center;
}
.side-nav .header {
    text-align: center;
    color: #9e9e9e;
    padding: 10px;
}
.side-nav-close {
    margin-top: 50px;
    margin-bottom: 64px;
}

.date-picker-wrapper {
    z-index: 9999;
}

.fixed-footer {
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.16), 2px 2px 10px 5px rgba(0,0,0,0.12);
    flex-shrink: 0;
}

nav .btn {
    height:100%;
    background-color: #14181B;
    padding: 0 1rem;
    text-transform: none;
}
nav .btn:hover {
  background-color: #202223;
}
.play {
    z-index: 999;
}
.player .left{
    position: absolute;
    left: 0;
}
.player .right{
    position: absolute;
    right: 0;
}
.center{
    z-index: 10;
    margin:0 auto;
}

header > nav a.btn > * {
    display: inline;
    font-size: 2.7rem;
}
header > nav a.btn span  {
    font-size: 1.1rem;
    text-transform: none;
    float: right;
}


nav .brand-logo.center {
    -webkit-transform: translateX(-41%);
    transform: translateX(-41%);
}
.brand-title{
    font-family: "Karma";
}
.brand-tagline {
    font-size: 50%;
    -webkit-transform: translate(100px, 7%);
    transform: translate(100px, 7%);
}

#volume-slider {
    height: 160px;
}
#volume-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px 20px 70px 20px;
    z-index: 999;
    display: none;
}
.noUi-vertical .noUi-handle {
    width: 0px;
    height: 0px;
    left: 0px;
    top: 0px;
}

.noUi-vertical .noUi-handle:after,  .noUi-vertical .noUi-handle:before {
    display: none;
    height: 0;
    width: 0;
}

.pane {
    overflow: auto;
    left: auto;
    right: auto;
    width: 100%;
    z-index: 2;
}
.pane.right{
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    #volume-container {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
    i.small{
        font-size: 1rem !important;
    }
    i.medium {
        font-size: 2rem !important;
    }
    i.large{
        font-size: 3rem !important;
    }
    .pane{
        width: 100%;
    }
    .custom-hide-on-small {
        display: none;
    }
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
    #volume-container {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
    i.small{
        font-size: 1.5rem !important;
    }
    i.medium {
        font-size: 3rem !important;
    }
    i.large{
        font-size: 5rem !important;
    }
    .pane.left{
        width: 100%;
        max-width: 450px;
    }
}
@media only screen and (min-width: 993px) {
    #volume-container {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }
    i.small{
        font-size: 2rem !important;
    }
    i.medium {
        font-size: 4rem !important;
    }
    i.large{
        font-size: 6rem !important;
    }
    .pane.left{
        width: 100%;
        max-width: 450px;
    }
}

.always-show{
    display: block !important;
}
.always-hide{
    display: none !important;
}

.collection{
    margin: 0;
    background-color: #202223;
    border: 1px solid #202223;
}
.collection .collection-item{
    background-color: #202223;
    border-color: #393944;
}
.collection .collection-item.active{
    background-color: #20A2C7;
}

.collection .collection-item.avatar {
    min-height: 0;
}
.collection .collection-item.avatar p {
    margin-right: 10px;
}
.collection .collection-item.avatar .image {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

#loader {
    margin-top: 10%;
    text-align: center;
    background-color: transparent;
}

.playlist-item {
    display: block;
    transition: .25s;
    color: #20A2C7;
}
.playlist-item:not(.active):hover {
    background-color: #000000;
}
.playlist-item > p{
    color: #026480;
}

#track-actions {
    display: none;
    border-bottom: 1px solid #393944;
    background-color: #202223;
    text-align: right;
}
#track-actions .btn {
    background-color: #202223;
}
#track-actions .btn:hover {
    background-color: #14181B;
}
.playlist-item.active {
    border-bottom: none;
}

.row {
    margin: auto;
}
.row .col {
    padding: 0;
}

#progress-container {
    z-index: 999;
}
/* Progress bar*/
#progress {
  height: 4px;
  margin: 0;
  box-shadow: none;
  border: none;
}
#progress .noUi-background {
  background-color: #14181B;
  box-shadow: none;
  border-radius: 0;
}

/*Handle*/
#progress .noUi-handle {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: none;
  background-color: #20A2C7;
  border: none;
  left: -5px;
  top: -6px;
  transition: width .2s cubic-bezier(0.215, 0.610, 0.355, 1.000),
              height .2s cubic-bezier(0.215, 0.610, 0.355, 1.000),
              left .2s cubic-bezier(0.215, 0.610, 0.355, 1.000),
              top .2s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
#progress .noUi-handle:before {
  content: none;
}
#progress .noUi-handle:after {
  content: none;
}
#progress .noUi-horizontal .noUi-handle {
    width: 0px;
    height: 0px;
}
#progress .noUi-horizontal .noUi-handle:after,  #progress .noUi-horizontal .noUi-handle:before {
    height: 0;
    width: 0;
}
/*Handle on Drag*/
#progress .noUi-target .noUi-active.noUi-handle {
  width: 3px;
  height: 3px;
  left: 0;
  top: 0;
  border-radius: 50%;
}

#progress .noUi-target .noUi-active .range-label span {
}
#progress .noUi-target .range-label {
  position: absolute;
  height: 30px;
  width: 30px;
  top: -17px;
  left: -2px;
  background-color: #20A2C7;
  border-radius: 50%;
  transition: border-radius .25s cubic-bezier(0.215, 0.610, 0.355, 1.000),
              transform .25s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transform: scale(.5) rotate(-45deg);
  transform-origin: 50% 100%;
}
#progress .noUi-target .noUi-active .range-label {
  border-radius: 15px 15px 15px 0;
  transform: rotate(-45deg) translate(23px, -25px);
}
.range-label span {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 12px;
  transform: rotate(45deg);
  opacity: 0;
  position: absolute;
  top: 7px;
  left: -1px;
  transition: opacity .25s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.noUi-active .range-label span {
  opacity: 1;
}
/* end Progress Bar*/
.noUi-connect {
   background: #20A2C7; 
}

#distance {
    width: 80%;
    margin: 25px auto;
}
.noUi-tooltip {
    padding: 5px 1px;
    background: none;
    border: none;
}

#waveform {
    position: absolute;
    height: 80px;
    width: 100%;
    background-color: transparent;
    border: none;
    pointer-events: none;
    z-index: 2;
    display: none;
}

#track-length {
    position: absolute;
    right: 0;
    margin-top: -20px;
    display: none;
}
#track-time{
    position: absolute;
    margin-top: -20px;
    margin-left: -10px;
    display: none;
}

#now-playing {
    height: 64px;
    width: 430px;
}
#now-playing img {
    height: 100%;
    float: left;
    margin-right: 4px;
}
#now-playing-track {
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
}
#now-playing-track span{
    display: block;
    text-align: left;
}
.marquee {
  white-space: nowrap;
  overflow: scroll;
}

#event-artists {
    margin-top: 0px;
}
#event-artists li .collapsible-header {
    background-color: #202223; 
    border-bottom: 1px solid #32323E;
}
#event-artists li .collapsible-body {
    background-color: #202223; 
    border-bottom: 1px solid #32323E;
    padding: 5px;
}

.collapsible-body p {
    padding: 0 2rem;
    text-align: justify;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #20A2C7;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #20A2C7;
}

.collection .collection-item.avatar .secondary-content {
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 4px;
    background-color: #202223;
    color: #90a4ae;
    border-radius: 0;
}

.collection a.collection-item {
    color: #20A2C7;
}
.collection a.collection-item:not(.active):hover {
    background-color: #000000;
}

#logo-attribution {
    position: absolute;
    right: 0;
    bottom: 64px;
    z-index: -1;
}
#logo-attribution > * {
    margin: 0 4px;
}

.modal {
    background-color: #202223;
}
.modal .modal-footer {
    background-color: #202223;
}

.chip {
    margin: 3px;
}

.action-toast {
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.toast .btn {
    padding: 0 1rem;
    background-color: inherit;
}

.side-nav .datepicker {
    width: 46%;
}

.input-field input[type=search] ~ .material-icons {
    color: black;
		margin-top: -6px;
}
.input-field input[type=search]{
		/*padding: 1rem 3rem 1rem 1rem;*/
    line-height: normal;
		padding: 0 3rem 0 1rem;
		margin: 0;
		background-color: rgba(255,255,255,0.10);
		width: calc(100% - 4rem) !important;
}
.input-field input[type=search]:focus{
}
nav .search-wrapper{
		margin: 0.5rem;
		width: 20%;
    max-width: 100%;
		height: calc(100% - 1rem);
    transition: .25s;
    z-index: 999;
}
nav .search-wrapper:focus{
		width: 900px;
}
.text-center{
  text-align: center;
}

#artist-events{
  margin: 4px 0 4px 0;
}
#venue-events{
  margin: 4px 0 4px 0;
}
.arrow {
    height: 50px;
    width: 50%;
    background: transparent;
    border-radius: 0px 0px 370px  0px;
    border: solid 5px rgb(144, 164, 174);
    border-top:none;
    border-left:none;
    margin: 0 20px;
		display: none;
}

.arrow:before {
    height:10px;
    width: 20px;
    border: 5px solid rgb(144, 164, 174);
    border-radius: 75px 0px 0px 75px /30px 0px 0px 30px ; 
    display: block;
    content: "";
    border-right:none;
    position:relative;
    top: 38px;
    left: -10px;
		box-sizing: initial;
}

.btn {
	background-color: rgb(32, 162, 199);
}

.btn:hover {
	background-color: rgb(38, 170, 210);
}

a:not(.btn):hover {
	color: #17AFF8 !important;
}

ul.collapsible.popout > li:first-child.active {
  margin-top: 0;
}

#venue-listen {
  margin-right: 5%;
}

.modal-close{
  color: #aaaaaa;
}
