<div id="progress-container">
    <div id="track-time"></div>
    <div id="track-length"></div>
    <img id="waveform" alt="" src="/images/transparent.gif">
    <div id="progress"></div>
</div>
<nav class="fixed-footer">
    <div class="nav-wrapper player">
        <div class="left hide-on-small-and-down">
            <div id="now-playing">
                <img>
                <div id="now-playing-track">
                    <span class="marquee" id="now-playing-artist"></span>
                    <span class="marquee" id="now-playing-title"></span>
                </div>
            </div>
        </div>
        <a class="left waves-effect waves-light btn hide-on-med-and-up" id='show-playlist' style="display: none;">
            <i class="material-icons">queue_music</i>
        </a>

        <div class="right">
            <a id="volume-button" class="waves-effect waves-light btn"><i class="material-icons small">volume_up</i></a>
            <div id="volume-container">
                <div id="volume-slider"></div>
            </div>
        </div>
        <div class="center">
            <a id="prev-button" class="waves-effect waves-light btn"><i class="material-icons medium">skip_previous</i></a>
            <a id="play-button" class="play waves-effect waves-light btn"><i id="play" class="material-icons large">play_arrow</i></a>
            <a id="next-button" class="waves-effect waves-light btn"><i class="material-icons medium">skip_next</i></a>
        </div>
            <!--<li>a href="#!"><i class="material-icons small">thumb_down</i></a></li>
            <li><a href="#!"><i class="material-icons small">thumb_up</i></a></li>-->
    </div>
</nav>
