<header>
<div class="navbar-fixed">
  <nav>
      <div class="nav-wrapper">
          <a href="#" data-activates="settings" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
          <a href="#!" class="brand-logo center">BandWagon</a>
          <a href="#" data-activates="right-side" class="dropdown-button right hide-on-med-and-up"><i class="material-icons">more_vert</i></a>
          <ul class="right hide-on-small-and-down">
              <li><a href="#!">About</a></li>
              <li><a href="#!">Settings</a></li>
          </ul>
          <ul class="dropdown-content" id="right-side">
              <li><a href="#!">About</a></li>
              <li><a href="#!">Settings</a></li>
          </ul>
          <div class="side-nav" id="settings">
              <ul>
                  <li><a href="#!">About</a></li>
                  <li><a href="#!">Settings</a></li>
              </ul>
          </div>
      </div>
  </nav>
</div>
</header>
