<form id="settings-form">
    <div class="header">Concert Settings</div>
    <label for="autoplay">Autoplay:</label>
    <div class="switch center">
        <label>
            Off
            <input type="checkbox" id="autoplay">
            <span class="lever"></span>
            On
        </label>
    </div>
    <label for="geolocation">Improve location accuracy:</label>
    <div class="switch center">
        <label>
            Off
            <input type="checkbox" id="geolocation">
            <span class="lever"></span>
            On
        </label>
    </div>
    <label for="custom_location">Custom Location:</label>
    <div>
        <input type="checkbox" id="custom_location_enable">
        <label for="custom_location_enable" style="height:10px;"></label>
        <input type="text" id="custom_location" style="width:80%;">
    </div>
    <label for="daterange">Date Range:</label>
    <div>
        <input class="datepicker" id="datestart" readonly>
        <span>to</span>
        <input class="datepicker" id="dateend" readonly>
    </div>
    <label for="distance">Distance:</label>
    <div id="distance"></div>
    <div class="header">Preferences</div>
    <ul>
        <a id='show-likes' class="hoverable white-text waves-effect waves-light modal-trigger" href="#likes-modal">Likes</a>
        <a id='show-dislikes' class="hoverable white-text waves-effect waves-light modal-trigger" href="#dislikes-modal">Dislikes</a>
    </ul>
    <a class="btn waves-effect waves-light side-nav-close" onclick="$('.button-collapse').sideNav('hide');" style="color:#aaaaaa;">Close</a>
    <br><br><br>
</form>

