<main>
    <div class="pane left" id="playlist-pane">
        <ul class="collection z-depth-2" id="playlist">
        </ul>
    </div>
    <div class="pane right hide-on-small-only">
        Something else goes here
    </div>

    <div id="loader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <div id="loading-message"></div>
    </div>

</main>
