<main>
    <div class="pane left" id="playlist-pane">
        <ul class="collection z-depth-2" id="playlist"></ul>
    </div>
    <div class="pane right custom-hide-on-small" id="event-pane">
        <h4 id="event-title" class="center flow-text"></h4>
        <h5 id="event-venue" class="center flow-text blue-grey-text text-lighten-2"><a  class="" target="_blank"></a></h5>
        <div class="center blue-grey-text text-lighten-2">
            <span id="event-date" class="center flow-text"><a target="_blank"></a></span>
            <span id="event-time"></span>
        </div>
        <div id="event-tickets" class="right"><a class="blue-grey-text text-lighten-2" target="_blank"></a></div>
        <br>
        <div id="event-lineup" class="left blue-grey-text text-lighten-2"></div>
        <ul id="event-artists" class="collapsible popout" data-collapsible="accordion"></ul>
        
        <div id="logo-attribution">
            <a href="http://the.echonest.com" target="_blank">
                <img src="/images/echonest.png" alt="The Echo Nest" height="30">
            </a>
            <a href="http://seatgeek.com" target="_blank">
                <img src="/images/seatgeek.png" alt="SeatGeek" height="30">
            </a>
            <a href="http://soundcloud.com" target="_blank">
                <img src="/images/soundcloud.png" alt="SoundCloud" height="40">
            </a>
        </div>
    </div>

    <div id="loader" class="modal">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <div id="loading-message"></div>
    </div>

</main>

<div id="likes-modal" class="modal">
    <div class="modal-content">
        <h5>Liked Artists</h5>
        <div id="liked_artists"></div>
        <div class="input-field">
            <input id="add_liked_artist" type="text">
            <label for="add_liked_artist">Add Artist</label>
        </div>
        <h5>Liked Genres</h5>
        <div id="liked_genres"></div>
        <div class="input-field">
            <input id="add_liked_genre" type="text">
            <label for="add_liked_genre">Add Genre</label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect btn-flat hoverable">Close</a>
    </div>
</div>
<div id="dislikes-modal" class="modal">
    <div class="modal-content">
        <div class="center">These artists and genres will never show up in your playlist.</div>
        <h5>Disliked Artists</h5>
        <div id="disliked_artists"></div>
        <div class="input-field">
            <input id="add_disliked_artist" type="text">
            <label for="add_disliked_artist">Add Artist</label>
        </div>
        <h5>Disliked Genres</h5>
        <div id="disliked_genres"></div>
        <div class="input-field">
            <input id="add_disliked_genre" type="text">
            <label for="add_disliked_genre">Add Genre</label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect btn-flat hoverable">Close</a>
    </div>
</div>
