<main>
    <div class="pane left" id="playlist-pane">
        <ul class="collection z-depth-2" id="playlist" style="display: none;"></ul>
        <div id="loader">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <div id="loading-message"></div>
        </div>
    </div>
    <div class="pane right hide-on-small-only" id="event-pane">
        <div id="welcome">
          <h4 class="center flow-text">Welcome to BandWagon!</h4>
          <br>
          <h4 class="center flow-text blue-grey-text text-lighten-2">Stream Music from bands with <span style="color: #20A2C7;">Upcoming Concerts</span></h4>
          <br><br>
          <h6 class="center flow-text" style="font-size: 1.3rem;">If you hear something you like, you can read more about them here.<br>You might consider going to their show!</h6>
          <br><br><br>
          <div class="center flow-tex">All these songs are from bands that will be performing live <span style="color: #20A2C7;">near you</span>.</div>
          <div class="arrow"></div>
          <br><br>
          <div class="center">
            <a id="start-listening" class="waves-effect waves-light btn" onclick="play_toggle();" style="display: none;">Start Listening</a>
          </div>
        </div>

        <h4 id="event-title" class="center flow-text"></h4>
        <h5 id="event-venue" class="center flow-text blue-grey-text text-lighten-2"><a  class="" target="_blank"></a></h5>
        <div class="center blue-grey-text text-lighten-2">
            <span id="event-date" class="center flow-text"><a target="_blank"></a></span>
            <span id="event-time"></span>
        </div>
        <div id="event-tickets" class="right"><a class="blue-grey-text text-lighten-2" target="_blank"></a></div>
        <br>
        <div id="event-lineup" class="blue-grey-text text-lighten-2"></div>
        <ul id="event-artists" class="collapsible popout" data-collapsible="accordion"></ul>
        
        <div id="logo-attribution">
            <!--<a href="http://the.echonest.com" target="_blank">
                <img src="/images/echonest.png" alt="The Echo Nest" height="30">
            </a>-->
            <a href="http://spotify.com" target="_blank">
                <img src="/images/Spotify_Primary_Logo_RGB_Green.png" alt="MusicBrainz" height="30" style="margin-bottom: 1px">
            </a>
            <a href="http://musicbrainz.org" target="_blank">
                <img src="/images/MusicBrainz_logo.svg" alt="MusicBrainz" height="30" style="margin-bottom: 1px">
            </a>
            <a href="http://seatgeek.com" target="_blank">
                <img src="/images/seatgeek.png" alt="SeatGeek" height="30">
            </a>
            <a href="http://soundcloud.com" target="_blank">
                <img src="/images/soundcloud.png" alt="SoundCloud" height="40">
            </a>
            <a href="http://last.fm" target="_blank">
                <img src="http://cdn.last.fm/flatness/badges/lastfm_black_small.gif" alt="Last.fm" height="30">
            </a>
        </div>
    </div>
    <div class="pane right hide-on-small-only hide" id="artist-pane">
        <h4 id="artist-title" class="center flow-text"></h4>
        <div class="heart-wrapper" title="Like this Artist">
          <input id="artist-heart" type="checkbox" />
          <label for="artist-heart" aria-label="like">❤</label>
        </div>
        <br>
        <a id="artist-listen" class="left" href="javascript:void(0)">♫Listen to Artist♫</a>
        <div style="clear: both;"></div>
        <div class="collection z-depth-2" id="artist-events"></div>
        <div id="artist-info"></div>
    </div>
    <div class="pane right hide-on-small-only hide" id="venue-pane">
        <h4 id="venue-title" class="center flow-text"></h4>
        <a id="venue-listen" class="left" href="javascript:void(0)">♫Listen to Venue♫</a>
        <div id="venue-info" class="center"></div>
        <div class="collection z-depth-2" id="venue-events"></div>
    </div>
    <div class="pane right hide-on-small-only hide" id="search-pane">
        <div class="text-center">
          <div class="preloader-wrapper big active" id="search-spinner">
              <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
          </div>
          <div id="search-message"></div>
        </div>
        <div>
          <div class="collection z-depth-2" id="search-results"></div>
        </div>
    </div>

</main>

<div id="likes-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <!--
        <span id="facebook-import" onclick="facebook_login()" href="javascript:void(0)">
          <svg style="width:24px;height:24px; margin: 0 1px -6px 0;" viewBox="0 0 24 24">
                <path fill="#FFFFFF" d="M19,4V7H17A1,1 0 0,0 16,8V10H19V13H16V20H13V13H11V10H13V7.5C13,5.56 14.57,4 16.5,4M20,2H4A2,2 0 0,0 2,4V20A2,2 0 0,0 4,22H20A2,2 0 0,0 22,20V4C22,2.89 21.1,2 20,2Z" />
          </svg>
          Import from Facebook
        </span>
        -->
        <span id="spotify-import" onclick="spotify_import()" href="javascript:void(0)">
          <svg style="width:20px;height:20px; margin: 0 1px -6px 0;" viewBox="0 0 16 16" fill="currentColor">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.669 11.538a.5.5 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686m.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858m.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288"/>
          </svg>

          Import from Spotify
        </span>
        <h5>Liked Artists</h5>
        <div id="liked_artists"></div>
        <div class="input-field">
            <input id="add_liked_artist" type="text">
            <label for="add_liked_artist">Add Artist</label>
        </div>
        <!--
        <h5>Liked Genres</h5>
        <div id="liked_genres"></div>
        <div class="input-field">
            <input id="add_liked_genre" type="text">
            <label for="add_liked_genre">Add Genre</label>
        </div>
        -->
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="modal-action modal-close waves-effect btn-flat hoverable">Close</a>
    </div>
</div>
<div id="dislikes-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="center">These artists will never show up in your playlist.</div>
        <h5>Disliked Artists</h5>
        <div id="disliked_artists"></div>
        <div class="input-field">
            <input id="add_disliked_artist" type="text">
            <label for="add_disliked_artist">Add Artist</label>
        </div>
        <!--
        <h5>Disliked Genres</h5>
        <div id="disliked_genres"></div>
        <div class="input-field">
            <input id="add_disliked_genre" type="text">
            <label for="add_disliked_genre">Add Genre</label>
        </div>
        -->
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="modal-action modal-close waves-effect btn-flat hoverable">Close</a>
    </div>
</div>
